/*general */
*{
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: hsl(236, 21%, 26%);
}

#heading, #launch-date, .counter, .text{
  font-family: 'Red Hat Text', sans-serif;
}

#heading, #launch-date, .text{
  letter-spacing: 3px;
}

body{
  height: auto;
}

#app {
  display: flex;
  align-items: center;
  height: 50rem;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("images/bg-stars.svg");
  background-size:cover;
}

/*heading */
#heading, #launch-date{
  color: white;
  margin-bottom: -7rem;
}

#launch-date{
  margin-top:-5rem;
}

/*countdown section */
#countdown{
  display:grid;
  grid-template-columns: repeat(4, 8rem);
  grid-auto-rows: minmax(12rem, auto);
  grid-gap: 2.6rem;
}

.counter-box{
  text-align: center;
  width: 100%;
}

.counter{
  color: hsl(345, 95%, 68%);
  border: 2px solid;
  padding: 2rem 0 2rem 0;
  font-size: 3rem;
}

.text{
  margin: 1rem;
  font-size:0.9rem;
  color: hsl(237, 18%, 59%);
}

#social-media{
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.socials:hover{
  cursor: pointer;
}

/****** mobile view ******/
@media screen and (max-width: 500px){
  #heading{
    font-size: 1.6rem;
  }

  #launch-date{
    font-size: 1rem;
    margin-bottom: -10rem;
  }

  #countdown{
    display:grid;
    grid-template-columns: repeat(4, 6rem);
    grid-auto-rows: minmax(6rem, auto);
    grid-gap: 1.8rem;
  }

  .counter{
    font-size: 1.7rem;
    padding: 1.4rem 0 1.4rem 0;
  }

  .text{
    font-size: 0.5rem;
  }

  #social-media{
    width: 50%;
  }

  .socials{
    width: 2rem;
    height: 2rem;
  }
}