*{
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: hsl(236, 21%, 26%)
  /* background-image: url("images/pattern-hills.svg"), url("images/bg-stars.svg");
  background-repeat: no-repeat; */
}

#heading, #launch-date, .counter, .text{
  font-family: 'Red Hat Text', sans-serif;
}

#heading, .text{
  letter-spacing: 2px;
}

#app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height:50rem;
}

#heading, #launch-date{
  color: white;
  margin-bottom: -7rem;

}

#launch-date{
  margin-top:-5rem;
}

#countdown{
  display:grid;
  grid-template-columns: repeat(4, 8rem);
  grid-auto-rows: minmax(12rem, auto);
  grid-gap: 25px;
}

.counter-box{
  text-align: center;
  width: 100%;
  /* padding:3rem; */
}

.counter{
  color: hsl(345, 95%, 68%);
  border: 2px solid;
  padding: 2rem 0 2rem 0;
  font-size:2.7rem;
  /* margin: 0 auto 0 auto; */
}

.text{
  margin: 1rem;
  font-size:0.9rem;
  color: hsl(237, 18%, 59%);
}

#social-media{
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.socials:hover{
  cursor: pointer;
}